@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 71.875rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  padding: 16px 53px;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  background: -o-linear-gradient(357.29deg, #0499dd 0%, #17C1BC 100%);
  background: linear-gradient(92.71deg, #0499dd 0%, #17C1BC 100%);
  border-radius: 60px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button img {
  display: inline-block;
  margin-left: 5px;
}

.button:hover {
  background: -o-linear-gradient(357.29deg, #37dbd6 0%, #197caa 100%);
  background: linear-gradient(92.71deg, #37dbd6 0%, #197caa 100%);
}

.title {
  font-size: 1.5rem;
  color: #0499DD;
  line-height: 1.5rem;
  font-weight: 700;
}

.header {
  background-color: rgba(4, 152, 221, 0.6784313725);
  z-index: 4;
  position: fixed;
  left: 0;
  right: 0;
}

.header__logo {
  z-index: 5;
}

.header__container {
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (height: clamp( 3.75rem , 2.8197674419rem  +  4.6511627907vw , 6.25rem )) {
  .header__container {
    height: clamp( 3.75rem , 2.8197674419rem  +  4.6511627907vw , 6.25rem );
  }
}

@supports not (height: clamp( 3.75rem , 2.8197674419rem  +  4.6511627907vw , 6.25rem )) {
  .header__container {
    height: calc(3.75rem + 2.5 * (100vw - 20rem) / 53.75);
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__link {
  font-weight: 500;
  line-height: 17px;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link:hover {
  color: #FFC700;
}

.icon-menu {
  background: none;
  display: none;
}

.started {
  padding-bottom: 150px;
}

.no-webp .started__wrapper-bg{
  background-image: url("../img/started/started-bg.jpg"); }

.started__wrapper-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@supports (padding-top: clamp( 12.5rem , 11.6395348837rem  +  4.3023255814vw , 14.8125rem )) {
  .started__wrapper-bg {
    padding-top: clamp( 12.5rem , 11.6395348837rem  +  4.3023255814vw , 14.8125rem );
  }
}

@supports not (padding-top: clamp( 12.5rem , 11.6395348837rem  +  4.3023255814vw , 14.8125rem )) {
  .started__wrapper-bg {
    padding-top: calc(12.5rem + 2.3125 * (100vw - 20rem) / 53.75);
  }
}

.started__wrapper-bg:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
  -webkit-filter: blur(1px);
          filter: blur(1px);
  z-index: 1;
}

.started__body {
  position: relative;
  z-index: 3;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.125rem;
}

.started__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.started__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.started__title {
  margin-bottom: 40px;
}

.started__title-together {
  display: inline-block;
  font-weight: 700;
  color: #fff;
  position: relative;
}

@supports (font-size: clamp( 2.375rem , 1.5843023256rem  +  3.9534883721vw , 4.5rem )) {
  .started__title-together {
    font-size: clamp( 2.375rem , 1.5843023256rem  +  3.9534883721vw , 4.5rem );
  }
}

@supports not (font-size: clamp( 2.375rem , 1.5843023256rem  +  3.9534883721vw , 4.5rem )) {
  .started__title-together {
    font-size: calc(2.375rem + 2.125 * (100vw - 20rem) / 53.75);
  }
}

@supports (line-height: clamp( 2.6875rem , 1.6409883721rem  +  5.2325581395vw , 5.5rem )) {
  .started__title-together {
    line-height: clamp( 2.6875rem , 1.6409883721rem  +  5.2325581395vw , 5.5rem );
  }
}

@supports not (line-height: clamp( 2.6875rem , 1.6409883721rem  +  5.2325581395vw , 5.5rem )) {
  .started__title-together {
    line-height: calc(2.6875rem + 2.8125 * (100vw - 20rem) / 53.75);
  }
}

@supports (margin-bottom: clamp( 0.375rem , 0.2354651163rem  +  0.6976744186vw , 0.75rem )) {
  .started__title-together {
    margin-bottom: clamp( 0.375rem , 0.2354651163rem  +  0.6976744186vw , 0.75rem );
  }
}

@supports not (margin-bottom: clamp( 0.375rem , 0.2354651163rem  +  0.6976744186vw , 0.75rem )) {
  .started__title-together {
    margin-bottom: calc(0.375rem + 0.375 * (100vw - 20rem) / 53.75);
  }
}

.started__title-together img {
  position: absolute;
  bottom: -12px;
}

@supports (right: clamp( -6.25rem , 0.0101744186rem  +  -8.488372093vw , -1.6875rem )) {
  .started__title-together img {
    right: clamp( -6.25rem , 0.0101744186rem  +  -8.488372093vw , -1.6875rem );
  }
}

@supports not (right: clamp( -6.25rem , 0.0101744186rem  +  -8.488372093vw , -1.6875rem )) {
  .started__title-together img {
    right: calc(-1.6875rem + -4.5625 * (100vw - 20rem) / 53.75);
  }
}

@supports (width: clamp( 6.5rem , 5.4069767442rem  +  5.4651162791vw , 9.4375rem )) {
  .started__title-together img {
    width: clamp( 6.5rem , 5.4069767442rem  +  5.4651162791vw , 9.4375rem );
  }
}

@supports not (width: clamp( 6.5rem , 5.4069767442rem  +  5.4651162791vw , 9.4375rem )) {
  .started__title-together img {
    width: calc(6.5rem + 2.9375 * (100vw - 20rem) / 53.75);
  }
}

.started__title-name {
  display: inline-block;
  font-family: "Roboto";
  font-weight: 900;
  text-transform: uppercase;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  -webkit-text-fill-color: transparent;
}

@supports (font-size: clamp( 4.5rem , 3.9418604651rem  +  2.7906976744vw , 6rem )) {
  .started__title-name {
    font-size: clamp( 4.5rem , 3.9418604651rem  +  2.7906976744vw , 6rem );
  }
}

@supports not (font-size: clamp( 4.5rem , 3.9418604651rem  +  2.7906976744vw , 6rem )) {
  .started__title-name {
    font-size: calc(4.5rem + 1.5 * (100vw - 20rem) / 53.75);
  }
}

@supports (line-height: clamp( 4.0625rem , 2.8531976744rem  +  6.0465116279vw , 7.3125rem )) {
  .started__title-name {
    line-height: clamp( 4.0625rem , 2.8531976744rem  +  6.0465116279vw , 7.3125rem );
  }
}

@supports not (line-height: clamp( 4.0625rem , 2.8531976744rem  +  6.0465116279vw , 7.3125rem )) {
  .started__title-name {
    line-height: calc(4.0625rem + 3.25 * (100vw - 20rem) / 53.75);
  }
}

.started__slider {
  position: relative;
  z-index: 3;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}

.contacts-started {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.contacts-started__list {
  padding-left: 10px;
  text-align: center;
}

.contacts-started__item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.slider-started {
  width: 100%;
}

.slider-started__slide {
  width: 22.5rem;
}

@supports (width: clamp( 18.4375rem , 16.925872093rem  +  7.5581395349vw , 22.5rem )) {
  .slider-started__slide {
    width: clamp( 18.4375rem , 16.925872093rem  +  7.5581395349vw , 22.5rem );
  }
}

@supports not (width: clamp( 18.4375rem , 16.925872093rem  +  7.5581395349vw , 22.5rem )) {
  .slider-started__slide {
    width: calc(18.4375rem + 4.0625 * (100vw - 20rem) / 53.75);
  }
}

.slider-started__slide img {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
  z-index: 1;
}

.slider-started-slide__img-wrapper {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.slider-started-slide__img-wrapper:before {
  z-index: 3;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}

.slider-started__popup .popup__content {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
}

.started-popup__slider {
  margin-bottom: 0.625rem;
}

.started-popup__slide {
  width: 56.25rem;
}

.started-popup__slide img {
  width: 100%;
}

.started-popup-min__slide {
  width: 22.5rem;
}

.started-popup-min__slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

.excursions-block__title {
  margin-bottom: 90px;
}

@supports (margin-bottom: clamp( 3.125rem , 2.1947674419rem  +  4.6511627907vw , 5.625rem )) {
  .excursions-block__title {
    margin-bottom: clamp( 3.125rem , 2.1947674419rem  +  4.6511627907vw , 5.625rem );
  }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.1947674419rem  +  4.6511627907vw , 5.625rem )) {
  .excursions-block__title {
    margin-bottom: calc(3.125rem + 2.5 * (100vw - 20rem) / 53.75);
  }
}

.excursions-block-tour-card {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  padding: 211px 16px 42px 16px;
  border-radius: 10px;
  overflow: hidden;
  width: 360px;
  position: relative;
}

@supports (padding-top: clamp( 11.375rem , 10.7005813953rem  +  3.3720930233vw , 13.1875rem )) {
  .excursions-block-tour-card {
    padding-top: clamp( 11.375rem , 10.7005813953rem  +  3.3720930233vw , 13.1875rem );
  }
}

@supports not (padding-top: clamp( 11.375rem , 10.7005813953rem  +  3.3720930233vw , 13.1875rem )) {
  .excursions-block-tour-card {
    padding-top: calc(11.375rem + 1.8125 * (100vw - 20rem) / 53.75);
  }
}

@supports (padding-bottom: clamp( 1rem , 0.3953488372rem  +  3.023255814vw , 2.625rem )) {
  .excursions-block-tour-card {
    padding-bottom: clamp( 1rem , 0.3953488372rem  +  3.023255814vw , 2.625rem );
  }
}

@supports not (padding-bottom: clamp( 1rem , 0.3953488372rem  +  3.023255814vw , 2.625rem )) {
  .excursions-block-tour-card {
    padding-bottom: calc(1rem + 1.625 * (100vw - 20rem) / 53.75);
  }
}

@supports (width: clamp( 17.5rem , 15.6395348837rem  +  9.3023255814vw , 22.5rem )) {
  .excursions-block-tour-card {
    width: clamp( 17.5rem , 15.6395348837rem  +  9.3023255814vw , 22.5rem );
  }
}

@supports not (width: clamp( 17.5rem , 15.6395348837rem  +  9.3023255814vw , 22.5rem )) {
  .excursions-block-tour-card {
    width: calc(17.5rem + 5 * (100vw - 20rem) / 53.75);
  }
}

.excursions-block-tour-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.121739)), to(#000000));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.121739) 0%, #000000 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.121739) 0%, #000000 100%);
}

.no-webp .excursions-block-tour-card-1{
  background-image: url("../img/excursions-block/excursions-block__bg-1.jpg"); }

.no-webp .excursions-block-tour-card-2{
  background-image: url("../img/excursions-block/excursions-block__bg-2.jpg"); }

.no-webp .excursions-block-tour-card-3{
  background-image: url("../img/excursions-block/excursions-block__bg-3.jpg"); }

.no-webp .excursions-block-tour-card-4{
  background-image: url("../img/excursions-block/excursions-block__bg-4.jpg"); }

.excursions-block-tour-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 2;
  height: 100%;
}

.excursions-block-tour-card__info {
  line-height: 15px;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  margin-bottom: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.excursions-block-tour-card__type {
  margin-bottom: 0.125rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.excursions-block-tour-card__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFC700;
  margin-bottom: 0.625rem;
}

.excursions-block-tour-card__time {
  background-image: url("../img/icons/time.svg");
  background-position-x: left;
  background-position-y: 1px;
  background-repeat: no-repeat;
  padding-left: 16px;
  margin-right: 13px;
}

.excursions-block-tour-card__price {
  background-image: url("../img/icons/money.svg");
  background-position-x: left;
  background-repeat: no-repeat;
  padding-left: 18px;
}

.excursions-block-tour-card__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  margin-bottom: 1.25rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.excursions-block-tour-card__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.excursions-block-slider {
  padding: 0px 0 83px 0;
}

.excursions-block-slider__wrapper {
  margin-bottom: 40px;
}

.excursions-block-slider__buttons {
  display: inline-block;
}

.excursions-block-slider__buttons button {
  position: relative;
  width: 22px;
  height: 43px;
}

.excursions-block-slider__buttons .swiper-button-prev {
  margin-right: 22px;
}

.excursions-block-slider__buttons .swiper-button-prev::after,
.excursions-block-slider__buttons .swiper-button-prev::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background: #0499DD;
  border-radius: 5px;
}

.excursions-block-slider__buttons .swiper-button-prev.swiper-button-disabled::after,
.excursions-block-slider__buttons .swiper-button-prev.swiper-button-disabled::before {
  background: #D4D4D4;
}

.excursions-block-slider__buttons .swiper-button-prev::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 0;
  top: 12px;
}

.excursions-block-slider__buttons .swiper-button-prev::before {
  left: 0;
  bottom: 12px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.excursions-block-slider__buttons .swiper-button-next::after,
.excursions-block-slider__buttons .swiper-button-next::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background: #0499DD;
  border-radius: 5px;
}

.excursions-block-slider__buttons .swiper-button-next.swiper-button-disabled::after,
.excursions-block-slider__buttons .swiper-button-next.swiper-button-disabled::before {
  background: #D4D4D4;
}

.excursions-block-slider__buttons .swiper-button-next::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 0;
  top: 12px;
}

.excursions-block-slider__buttons .swiper-button-next::before {
  right: 0;
  bottom: 12px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.excursions-block-slider__scrollbar {
  position: relative;
  top: -23.8px;
  left: 120px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 4px;
  border-radius: 10px;
  background: #D4D4D4;
}

.excursions-block-slider__scrollbar .swiper-scrollbar-drag {
  height: 4px;
  border-radius: 10px;
  background: #0499DD;
  cursor: pointer;
}

.about {
  position: relative;
  padding: 137px 0;
  margin-bottom: 4.6875rem;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__image {
  position: absolute;
  height: 100%;
  min-width: 75%;
  max-width: 75%;
  left: 0;
  top: 0;
  border-radius: 10px;
  overflow: hidden;
}

.about__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  position: relative;
  z-index: 2;
  background: #EDEDED;
  border-radius: 10px;
}

@supports (max-width: clamp( 18.75rem , 12.9360465116rem  +  29.0697674419vw , 34.375rem )) {
  .about__content {
    max-width: clamp( 18.75rem , 12.9360465116rem  +  29.0697674419vw , 34.375rem );
  }
}

@supports not (max-width: clamp( 18.75rem , 12.9360465116rem  +  29.0697674419vw , 34.375rem )) {
  .about__content {
    max-width: calc(18.75rem + 15.625 * (100vw - 20rem) / 53.75);
  }
}

@supports (min-height: clamp( 0.0000000625rem , -11.0697673561rem  +  55.348837093vw , 29.75rem )) {
  .about__content {
    min-height: clamp( 0.0000000625rem , -11.0697673561rem  +  55.348837093vw , 29.75rem );
  }
}

@supports not (min-height: clamp( 0.0000000625rem , -11.0697673561rem  +  55.348837093vw , 29.75rem )) {
  .about__content {
    min-height: calc(0.0000000625rem + 29.7499999375 * (100vw - 20rem) / 53.75);
  }
}

@supports (padding-top: clamp( 2.6875rem , 2.2921511628rem  +  1.976744186vw , 3.75rem )) {
  .about__content {
    padding-top: clamp( 2.6875rem , 2.2921511628rem  +  1.976744186vw , 3.75rem );
  }
}

@supports not (padding-top: clamp( 2.6875rem , 2.2921511628rem  +  1.976744186vw , 3.75rem )) {
  .about__content {
    padding-top: calc(2.6875rem + 1.0625 * (100vw - 20rem) / 53.75);
  }
}

@supports (padding-bottom: clamp( 2.6875rem , 2.2921511628rem  +  1.976744186vw , 3.75rem )) {
  .about__content {
    padding-bottom: clamp( 2.6875rem , 2.2921511628rem  +  1.976744186vw , 3.75rem );
  }
}

@supports not (padding-bottom: clamp( 2.6875rem , 2.2921511628rem  +  1.976744186vw , 3.75rem )) {
  .about__content {
    padding-bottom: calc(2.6875rem + 1.0625 * (100vw - 20rem) / 53.75);
  }
}

@supports (padding-left: clamp( 2.6875rem , 1.710755814rem  +  4.8837209302vw , 5.3125rem )) {
  .about__content {
    padding-left: clamp( 2.6875rem , 1.710755814rem  +  4.8837209302vw , 5.3125rem );
  }
}

@supports not (padding-left: clamp( 2.6875rem , 1.710755814rem  +  4.8837209302vw , 5.3125rem )) {
  .about__content {
    padding-left: calc(2.6875rem + 2.625 * (100vw - 20rem) / 53.75);
  }
}

@supports (padding-right: clamp( 2.6875rem , 1.710755814rem  +  4.8837209302vw , 5.3125rem )) {
  .about__content {
    padding-right: clamp( 2.6875rem , 1.710755814rem  +  4.8837209302vw , 5.3125rem );
  }
}

@supports not (padding-right: clamp( 2.6875rem , 1.710755814rem  +  4.8837209302vw , 5.3125rem )) {
  .about__content {
    padding-right: calc(2.6875rem + 2.625 * (100vw - 20rem) / 53.75);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 0.7848837209rem  +  2.3255813953vw , 2.5rem )) {
  .about__title {
    margin-bottom: clamp( 1.25rem , 0.7848837209rem  +  2.3255813953vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.7848837209rem  +  2.3255813953vw , 2.5rem )) {
  .about__title {
    margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 53.75);
  }
}

.types-excursions {
  padding: 75px 0;
}

.types-excursions__title {
  margin-bottom: 90px;
}

.types-excursions__content {
  text-align: center;
}

.types-excursions__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.types-excursions-type {
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.types-excursions-type__image {
  width: 75px;
  margin-right: 20px;
}

.types-excursions-type__title {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
}

.types-excursions__text {
  margin: 0 auto;
  max-width: 550px;
}

@supports (margin-bottom: clamp( 1.25rem , 2.9651162791rem  +  -2.3255813953vw , 2.5rem )) {
  .types-excursions__text {
    margin-bottom: clamp( 1.25rem , 2.9651162791rem  +  -2.3255813953vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 2.9651162791rem  +  -2.3255813953vw , 2.5rem )) {
  .types-excursions__text {
    margin-bottom: calc(2.5rem + -1.25 * (100vw - 20rem) / 53.75);
  }
}

.gallery {
  padding: 75px 0;
}

.gallery__title {
  margin-bottom: 90px;
}

.gallery-content {
  padding: 0 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 3fr 4fr;
  grid-template-columns: 4fr 3fr 4fr;
}

@supports (grid-gap: clamp( 0.625rem , 0.3924418605rem  +  1.1627906977vw , 1.25rem )) {
  .gallery-content {
    grid-gap: clamp( 0.625rem , 0.3924418605rem  +  1.1627906977vw , 1.25rem );
  }
}

@supports not (grid-gap: clamp( 0.625rem , 0.3924418605rem  +  1.1627906977vw , 1.25rem )) {
  .gallery-content {
    grid-gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 53.75);
  }
}

@supports (grid-template-rows: clamp( 28.5625rem , 15.5771103896rem  +  27.3376623377vw , 54.875rem )) {
  .gallery-content {
    -ms-grid-rows: clamp( 28.5625rem , 15.5771103896rem  +  27.3376623377vw , 54.875rem );
    grid-template-rows: clamp( 28.5625rem , 15.5771103896rem  +  27.3376623377vw , 54.875rem );
  }
}

@supports not (grid-template-rows: clamp( 28.5625rem , 15.5771103896rem  +  27.3376623377vw , 54.875rem )) {
  .gallery-content {
    -ms-grid-rows: calc(28.5625rem + 26.3125 * (100vw - 47.5rem) / 96.25);
    grid-template-rows: calc(28.5625rem + 26.3125 * (100vw - 47.5rem) / 96.25);
  }
}

.gallery-content__left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 6.5fr;
  grid-template-columns: 6fr 6.5fr;
  -ms-grid-rows: 5fr 2fr 2fr;
  grid-template-rows: 5fr 2fr 2fr;
}

@supports (grid-gap: clamp( 0.625rem , 0.3924418605rem  +  1.1627906977vw , 1.25rem )) {
  .gallery-content__left {
    grid-gap: clamp( 0.625rem , 0.3924418605rem  +  1.1627906977vw , 1.25rem );
  }
}

@supports not (grid-gap: clamp( 0.625rem , 0.3924418605rem  +  1.1627906977vw , 1.25rem )) {
  .gallery-content__left {
    grid-gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 53.75);
  }
}

.gallery-content__left .gallery-content__image:nth-child(1) {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.gallery-content__left .gallery-content__image:nth-child(2) {
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

.gallery-content__right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 3fr;
  grid-template-columns: 4fr 3fr;
  -ms-grid-rows: 5fr 6fr;
  grid-template-rows: 5fr 6fr;
}

@supports (grid-gap: clamp( 0.625rem , 0.3924418605rem  +  1.1627906977vw , 1.25rem )) {
  .gallery-content__right {
    grid-gap: clamp( 0.625rem , 0.3924418605rem  +  1.1627906977vw , 1.25rem );
  }
}

@supports not (grid-gap: clamp( 0.625rem , 0.3924418605rem  +  1.1627906977vw , 1.25rem )) {
  .gallery-content__right {
    grid-gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 53.75);
  }
}

.gallery-content__right .gallery-content__image:nth-child(3) {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.gallery-content__image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.gallery-content__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 143.75em) {
  .gallery-content {
    -ms-grid-rows: inherit;
    grid-template-rows: inherit;
  }
}

@media (max-width: 47.99875em) {
  .menu {
    position: fixed;
    left: 0;
    top: -200%;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #0498dd;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }

  .menu-open .menu {
    top: 0;
  }

  .menu-open .menu__body {
    overflow: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 7.5rem;
    padding-bottom: 1.875rem;
    height: 100%;
    width: 100%;
    z-index: 10;
  }

  .menu-open .menu__link {
    font-size: 30px;
    color: #FCFDFE;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 2.5rem;
    height: 1.5625rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.3125rem;
    background-color: #FFFFFF;
    border-radius: 10px;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.125rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.1875rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.125rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .gallery-content {
    -ms-grid-columns: 1fr 3fr;
    grid-template-columns: 1fr 3fr;
  }

  .gallery-content__left {
    display: none;
  }
}

@media (max-width: 47.5em) {
  .gallery-content {
    -ms-grid-rows: inherit;
    grid-template-rows: inherit;
  }
}

@media (max-width: 29.99875em) {
  .started__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .started__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

@supports (margin-bottom: clamp( 2.5rem , 6.7877906977rem  +  -5.8139534884vw , 5.625rem )) {
    .started__content {
      margin-bottom: clamp( 2.5rem , 6.7877906977rem  +  -5.8139534884vw , 5.625rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 6.7877906977rem  +  -5.8139534884vw , 5.625rem )) {
    .started__content {
      margin-bottom: calc(5.625rem + -3.125 * (100vw - 20rem) / 53.75);
    }
}

  .started__contacts {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .gallery-content {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .gallery-content__right {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 0;
    grid-row-gap: 10px;
  }

  .gallery-content__right .gallery-content__image:nth-child(1) {
    display: none;
  }
}

.webp .started__wrapper-bg{ background-image: url(../img/started/started-bg.webp); }

.webp .excursions-block-tour-card-1{ background-image: url(../img/excursions-block/excursions-block__bg-1.webp); }

.webp .excursions-block-tour-card-2{ background-image: url(../img/excursions-block/excursions-block__bg-2.webp); }

.webp .excursions-block-tour-card-3{ background-image: url(../img/excursions-block/excursions-block__bg-3.webp); }

.webp .excursions-block-tour-card-4{ background-image: url(../img/excursions-block/excursions-block__bg-4.webp); }