@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 71.875rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  padding: 16px 53px;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  background: -o-linear-gradient(357.29deg, #0499dd 0%, #17C1BC 100%);
  background: linear-gradient(92.71deg, #0499dd 0%, #17C1BC 100%);
  border-radius: 60px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button:hover {
  background: -o-linear-gradient(357.29deg, #37dbd6 0%, #197caa 100%);
  background: linear-gradient(92.71deg, #37dbd6 0%, #197caa 100%);
}

.header {
  z-index: 4;
  position: fixed;
  left: 0;
  right: 0;
}

.header__logo {
  z-index: 5;
}

.header__container {
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__link {
  font-weight: 500;
  line-height: 17px;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link:hover {
  color: #FFC700;
}

.icon-menu {
  background: none;
  display: none;
}

.started {
  padding-bottom: 300px;
}

.no-webp .started__wrapper-bg{
  background-image: url("../img/started/started-bg.jpg"); }

.started__wrapper-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@supports (padding-top: clamp( 12.5rem , 11.6395348837rem  +  4.3023255814vw , 14.8125rem )) {
  .started__wrapper-bg {
    padding-top: clamp( 12.5rem , 11.6395348837rem  +  4.3023255814vw , 14.8125rem );
  }
}

@supports not (padding-top: clamp( 12.5rem , 11.6395348837rem  +  4.3023255814vw , 14.8125rem )) {
  .started__wrapper-bg {
    padding-top: calc(12.5rem + 2.3125 * (100vw - 20rem) / 53.75);
  }
}

.started__body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.125rem;
}

.started__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.started__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.started__title {
  margin-bottom: 40px;
}

.started__title-together {
  display: inline-block;
  font-weight: 700;
  color: #fff;
  position: relative;
}

@supports (font-size: clamp( 2.375rem , 1.5843023256rem  +  3.9534883721vw , 4.5rem )) {
  .started__title-together {
    font-size: clamp( 2.375rem , 1.5843023256rem  +  3.9534883721vw , 4.5rem );
  }
}

@supports not (font-size: clamp( 2.375rem , 1.5843023256rem  +  3.9534883721vw , 4.5rem )) {
  .started__title-together {
    font-size: calc(2.375rem + 2.125 * (100vw - 20rem) / 53.75);
  }
}

@supports (line-height: clamp( 2.6875rem , 1.6409883721rem  +  5.2325581395vw , 5.5rem )) {
  .started__title-together {
    line-height: clamp( 2.6875rem , 1.6409883721rem  +  5.2325581395vw , 5.5rem );
  }
}

@supports not (line-height: clamp( 2.6875rem , 1.6409883721rem  +  5.2325581395vw , 5.5rem )) {
  .started__title-together {
    line-height: calc(2.6875rem + 2.8125 * (100vw - 20rem) / 53.75);
  }
}

@supports (margin-bottom: clamp( 0.375rem , 0.2354651163rem  +  0.6976744186vw , 0.75rem )) {
  .started__title-together {
    margin-bottom: clamp( 0.375rem , 0.2354651163rem  +  0.6976744186vw , 0.75rem );
  }
}

@supports not (margin-bottom: clamp( 0.375rem , 0.2354651163rem  +  0.6976744186vw , 0.75rem )) {
  .started__title-together {
    margin-bottom: calc(0.375rem + 0.375 * (100vw - 20rem) / 53.75);
  }
}

.started__title-together img {
  position: absolute;
  bottom: -12px;
}

@supports (right: clamp( -6.25rem , 0.0101744186rem  +  -8.488372093vw , -1.6875rem )) {
  .started__title-together img {
    right: clamp( -6.25rem , 0.0101744186rem  +  -8.488372093vw , -1.6875rem );
  }
}

@supports not (right: clamp( -6.25rem , 0.0101744186rem  +  -8.488372093vw , -1.6875rem )) {
  .started__title-together img {
    right: calc(-1.6875rem + -4.5625 * (100vw - 20rem) / 53.75);
  }
}

@supports (width: clamp( 6.5rem , 5.4069767442rem  +  5.4651162791vw , 9.4375rem )) {
  .started__title-together img {
    width: clamp( 6.5rem , 5.4069767442rem  +  5.4651162791vw , 9.4375rem );
  }
}

@supports not (width: clamp( 6.5rem , 5.4069767442rem  +  5.4651162791vw , 9.4375rem )) {
  .started__title-together img {
    width: calc(6.5rem + 2.9375 * (100vw - 20rem) / 53.75);
  }
}

.started__title-name {
  display: inline-block;
  font-family: "Roboto";
  font-weight: 900;
  text-transform: uppercase;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  -webkit-text-fill-color: transparent;
}

@supports (font-size: clamp( 4.5rem , 3.9418604651rem  +  2.7906976744vw , 6rem )) {
  .started__title-name {
    font-size: clamp( 4.5rem , 3.9418604651rem  +  2.7906976744vw , 6rem );
  }
}

@supports not (font-size: clamp( 4.5rem , 3.9418604651rem  +  2.7906976744vw , 6rem )) {
  .started__title-name {
    font-size: calc(4.5rem + 1.5 * (100vw - 20rem) / 53.75);
  }
}

@supports (line-height: clamp( 4.0625rem , 2.8531976744rem  +  6.0465116279vw , 7.3125rem )) {
  .started__title-name {
    line-height: clamp( 4.0625rem , 2.8531976744rem  +  6.0465116279vw , 7.3125rem );
  }
}

@supports not (line-height: clamp( 4.0625rem , 2.8531976744rem  +  6.0465116279vw , 7.3125rem )) {
  .started__title-name {
    line-height: calc(4.0625rem + 3.25 * (100vw - 20rem) / 53.75);
  }
}

.started__button img {
  display: inline-block;
  margin-left: 5px;
}

.started__slider {
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}

.contacts-started {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.contacts-started__list {
  padding-left: 10px;
  text-align: center;
}

.contacts-started__item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.slider-started {
  width: 100%;
}

.slider-started__slide {
  width: 22.5rem;
}

@supports (width: clamp( 18.4375rem , 16.925872093rem  +  7.5581395349vw , 22.5rem )) {
  .slider-started__slide {
    width: clamp( 18.4375rem , 16.925872093rem  +  7.5581395349vw , 22.5rem );
  }
}

@supports not (width: clamp( 18.4375rem , 16.925872093rem  +  7.5581395349vw , 22.5rem )) {
  .slider-started__slide {
    width: calc(18.4375rem + 4.0625 * (100vw - 20rem) / 53.75);
  }
}

.slider-started__slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 47.99875em) {
  .menu {
    position: fixed;
    left: 0;
    top: -200%;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: rgb(143, 60, 60);
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }

  .menu-open .menu {
    top: 0;
  }

  .menu-open .menu__body {
    overflow: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 7.5rem;
    padding-bottom: 1.875rem;
    height: 100%;
    width: 100%;
    z-index: 10;
  }

  .menu-open .menu__link {
    font-size: 30px;
    color: #FCFDFE;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 2.5rem;
    height: 1.5625rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.3125rem;
    background-color: #FFFFFF;
    border-radius: 10px;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.125rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.1875rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.125rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 29.99875em) {
  .started__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .started__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

@supports (margin-bottom: clamp( 2.5rem , 6.7877906977rem  +  -5.8139534884vw , 5.625rem )) {
    .started__content {
      margin-bottom: clamp( 2.5rem , 6.7877906977rem  +  -5.8139534884vw , 5.625rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 6.7877906977rem  +  -5.8139534884vw , 5.625rem )) {
    .started__content {
      margin-bottom: calc(5.625rem + -3.125 * (100vw - 20rem) / 53.75);
    }
}

  .started__contacts {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.webp .started__wrapper-bg{ background-image: url(../img/started/started-bg.webp); }